@import "custom";
@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: "ComicSans";
  src: url("../fonts/2006.ttf");
}

body {
  position: relative;
  overflow: hidden;
}

/* СКРЫТЫЙ БЛОК */
#hidden_pannel {
  position: fixed; /* положение */
  top: 2vh; /* отступ сверху */
  left: -320px; /* отступ слева */
  background: rgb(80, 80, 80); /* цвет фона */
  color: #fffff0; /* цвет текста */
  width: 300px; /* ширина блока */
  height: 96vh; /* высота блока */
  max-height: 96vh;
  text-align: left; /* выравнивание текста */
  //   box-shadow: 0 0 10px -0.5px rgba(255, 100, 255, 1);

  -webkit-transition-duration: 0.3s; /* анимационное выдвижение для всех браузеров*/
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;

  -webkit-border-radius: 0 5px 5px 0; /* закругление границ для всех браузеров*/
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}

.contain {
  position: relative;
}

.content {
  padding-left: 10px;
  padding-right: 4px;
  padding-top: 6px;
}

/* width */
::-webkit-scrollbar {
  background-color: rgb(80, 80, 80);
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #333;
}

#Description-wrapper {
  overflow-y: auto;
  // max-height: calc(88vh - 107px);
}

#Description {
  font-family: "ComicSans";
  margin-right: 3px;
}

#cancel-button {
  float: right;
  text-shadow: none;
  outline: 0;
}

.buttonWrapper {
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 10px;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
  //   background: #5cb85c !important;
}
