@import url('https://fonts.googleapis.com/css?family=Roboto');

html
{
    height:100%;
}

::-webkit-scrollbar { 
    display: none; 
}

search
{
    display:none;
}

body
{
  font-family: 'Roboto', sans-serif;
  background-color: white;
  /*background-image:url("bg4.png");*/
  background-color:rgba(240, 203, 142,0.2);
  height:100%;
  position:relative;
  display: flex;
  flex-direction: column;
}

header
{
  width: 100%;
  vertical-align: top;
  margin-bottom:10px;
}

a
{
    color:#905a09;
    text-decoration:none;
}

a:hover
{
    text-decoration:none;
    color:#714707;
}

input
{
    border:none;
    border-bottom:2px solid #ffb366;
    margin-bottom:10px;
    padding-left:5px;
    background-color:rgba(240, 203, 142,0.5);
}

input[type="submit"], button
{
    height:40px;
    padding:10px;
    padding-top:8px;
    background-color:#f0cb8e;
    transition:0.5s;
    border:none;
    border-bottom:2px solid #ffb366;
    font-weight:bold;
}

input[name="like"],input[name="dislike"]
{
   color:rgba(0,0,0,0);
   border:none;
   background-color:rgba(0,0,0,0);
   width:40px;
}

button.result
{
    height:40px;
    padding:10px;
    padding-top:8px;
    background-color:#f0cb8e;
    transition:0.5s;
    border:none;
    border-bottom:2px solid #ffb366;
    font-weight:bold;
}
input[type="file"]
{
    opacity:0;
    width:300px;
    height:60px;
}

.Loader
{
    width:300px;
    height:60px;
    background-image:url("Loader3.png");
    background-repeat:no-repeat;
    margin-bottom:10px;
}

input[type="file"]:hover
{
    cursor:pointer;
}

textarea
{
    resize:none;
    width:40%;
}

.midHead
{
  display: inline-block;
  background-color: #F7E2C0;
  height: 50px;
  padding-bottom: 5px;
  vertical-align: top;
  border-bottom:2px solid rgba(240, 203, 142,0.5);
  width: 100%;
  padding-left: 1%;
  padding-right: 1%;
  position:relative;
  -moz-user-select: none; 
  -ms-user-select: none; 
  -o-user-select: none; 
  -webkit-user-select: none;
}

.LogoImg,.LogoTxt
{
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-top:5px;
}

.LogoTxt
{
  padding: 10px;
  padding-right:0;
}

.LogoTxt:hover
{
  cursor: default;
}

.logo
{
    height:100%;
    width:15%;
    display:inline-block;
    vertical-align:top;
}

.menuHolder
{
    width:100%;
    display:none;
    height:50px;
    padding-top:13px;
}

.navMenu
{
    display:inline-block;
}

.navMen
{
    display:inline-block;
    height:50px;
    padding:15px;
    margin-left:-5px;
    text-align:center;
    color:black;
    border-right:1px solid rgba(240, 203, 142,0.5);
    position:relative;
}

.navEdge
{
    border-right:none;
}

.drop-down
{
    width:12px;
}

.up-down
{
    position:absolute;
    top:4px;
    right:15px;
}

.navMen:hover
{
    cursor:pointer;
    border-bottom:2px solid rgb(232, 171, 74);
    background-color:rgba(240, 203, 142,0.4);
    border-right:none;
    margin-right:1px;
}

.inBtn
{
    position:absolute;
    display:none;
    width:100%;
    top:50px;
    left:0;
    padding-top:10px;
    z-index:5;
}

.subBtn
{
    width:100%;
    height:50px;
    background-color:#f3d6a5;
    padding:13px 0 13px 0;
    border-bottom:2px solid rgba(240, 203, 142,0.5);
    color:black;
}

.navMen:hover .inBtn
{
    display:block;
}

.subBtn:hover
{
    background-color:#f0cc8f;
    border-bottom:none;
}

.upst
{
    border-top:2px solid rgb(232, 171, 74);
}

.Searcher
{
    position: absolute;
    height:50px;
    top:60px;
    left:17%;
    width:60%;
    background-color:#F7E2C0;
    padding:5px;
    display:none;
    z-index:5;
    -moz-user-select: none; 
    -ms-user-select: none; 
    -o-user-select: none; 
    -webkit-user-select: none;
}

.inSearch
{
    vertical-align:top;
    flex-grow:7;
    height:40px;
    margin-right:5px;
}

.searchBtn
{
    vertical-align:top;
    flex-grow:1;
}

.searchField
{
    display:inline-block;
    height:100%;
    color:grey;
    padding:7px;
    text-align:center;
    flex-grow:1;
    margin-right:5px;
}

.byDate
{
    width:8%;
}

.byViews
{
    width:15%;
}

.searchField:hover
{
    cursor:pointer;
    color:black;
}

.tokenBtnMid:hover,.tokenBtnEdge:hover,input[type="submit"]:hover, button:hover
{
  background-color:rgba(240, 203, 142,0.5);
  cursor: pointer;
  color:black;
}

input[name="like"]:hover,input[name="dislike"]:hover
{
    background-color:rgba(0,0,0,0);
    color:rgba(0,0,0,0);
}

main
{
  width: 70%;
  margin: 0 auto;
  flex: 1 0 auto;
}

.showType
{
    display:inline-block;
    border-bottom:2px solid rgba(240, 203, 142,0.5);
    margin-bottom:15px;
    width:300px;
    height:30px;
    text-align:center;
    background-color:rgba(240, 203, 142,0.4);
    padding:5px;
}

.typeLabel
{
    width:100%;
}

.showType:hover > label
{
    cursor:pointer;
}

.showInv
{
    display:none;
}

.showRad
{
    visibility:hidden;
}

.Content
{
  width: 100%;
  padding: 1.66%;
  margin-bottom: 15px;
}

.video
{
    display:inline-block;
    width:14%;
    margin-right:2%;
    margin-bottom:10px;
}

.video:hover
{
   cursor: pointer;
}

.preview
{
   display:block;
   width:100%;
}

.videoName
{
    font-weight:bold;
    font-size:90%;
    margin-bottom:3px;
    overflow:hidden;
    height:42px;
}

.videoAth,.videoView
{
    font-style:italic;
    font-size:80%;
    margin-bottom:3px;
}

.videoAth:hover
{
    font-weight:bold;
}

.video-js
{
    margin:0 auto;
    width:100%;
}

.titling
{
    height:50px;
}

.liking,.infoOne
{
    display:inline-block;
    vertical-align:top;
    margin-bottom:10px;
}

.Like,.Dislike
{
        background-size:40%;
        background-repeat:no-repeat;
        background-position:center;
}

.liking
{
    float:right;
}

.likeShow,.disShow
{
    display:inline-block;
    height:3px;
    width:50%;
    vertical-align:top;
}

.likeShow
{
    background-color:green;
}

.disShow
{
    background-color:red;
    margin-left:-6px;
    float:right;
}

.lineLike
{
    height:3px;
    margin-bottom:5px;
}

.Tag
{
    background-color:#ffcc99;
    color:white;    
    border-radius:10px;
    padding:3px;
    margin-right:5px;
}
.Tag:hover
{
    border:2px solid #ffcc99;
    background-color:rgba(0,0,0,0);
    cursor:pointer;
    color:  #ffcc99;
    margin-right:1px;
    font-weight:bold;
}

.cSect
{
    border-top:2px solid #ffcc99;
    margin-top:10px;
    padding-top:10px;
}

.Comment
{
    height:100px;
    margin-bottom:15px;
    max-width:50%;
}

.commAva
{
    height:100px;
    width:100px;
    margin-right:15px;
    vertical-align:top;
    overflow:hidden;
    display:inline-block;
}

.commAvaIn
{
    height:100%;
}

.authAva
{
    height:50px;
    width:50px;
    margin-right:15px;
    vertical-align:top;
    overflow:hidden;
    display:inline-block;
}

.authAvaIn
{
    height:100%;
}

.inAuth
{
    display:inline-block;
}

.commTxt
{
    display:inline-block;
}

.commAuth
{
    color:black;
    font-weight:bold;
    font-size:110%;
}

.videoShow
{
   background-color:black;
   width:100%;
   height:400px;
}

.videoTitle
{
    margin-top:10px;
    margin-bottom:10px;
    font-size:120%;
    display:inline-block;
}

.vidViews
{
    display:inline-block;
    float:right;
    margin-top:10px;
    margin-bottom:10px;
}

.videoDate
{
   font-style:italic;
   font-size:80%;
   color:grey;
}

footer
{
  width: 100%;
  margin: 0 auto;
  height:119px;
  flex: 0 0 auto;
}

.Foot{
  width: 100%;
  padding: 1.66%;
  font-weight:bold;
  text-align:center;
  padding-bottom:0;
}

.Contact
{
   margin-bottom:10px;
   height:41px;
   display:inline-block;
   width:10%;
}

.Creator
{
    margin:0;
}

.footLine
{
  display:inline-block;
  vertical-align:top;
  margin-bottom:10px;
  height:20px;
  width:45%;
  border-bottom:2px solid #ffb366;
}

.contImg
{
    height:40px;
    margin-right:10px;
    transition: 0.1s;
    vertical-align:top;
}

.ResultVideo
{
    z-index:5;
    position:absolute;
    display:none;
}

.contImg:hover
{
    height:41px;
    cursor:pointer;
    margin-right:9px;
}

.contEdge,.contEdge:hover
{
    margin-right:0;
}

.INP
{
    width:200px;
    margin:0 auto;
}


.roomName
{
    width:70%;
    margin:0 auto;
}

.instr
{
    display:none;
    padding-top:10px;
    padding-left:20px;
    text-align:left;
}

.token
{
    width:70%;
    margin:0 auto;
    height:40px;
}

.tokenTxt
{
    width:50%;
    height:100%;
    display:inline-block;
    background-color:#fff3e6;
    padding-top:10px;
    vertical-align:top;
    text-align:center;
}

.tokenBtnEdge
{
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    border-left:1px solid black;
}
.tokenBtnEdge,.tokenBtnMid
{
    display:inline-block;
    width:24%;
    background-color:#ffcc99;
    height:100%;
    vertical-align:top;
    margin-left:-5px;
    text-align:center;
    padding-top:10px;
}



.content{
    width: 100%;
}

.content0{
    width: 100%;
    height: auto;
    margin: auto;
    padding: 7px;
    background-color: #faebd7;
    border: 1px solid #ffcc99;
    margin-top: -1px;
    margin-left: -4px;
    min-height: 212px;
}

.buttondlc{
    margin-bottom: 0;
}

.z1,.z2
{
    display: inline-block;
    background-color: #faebd7;
    border-bottom: 1px solid #ffcc99;
    padding: 7px;
    cursor: pointer;
    margin-left: -4px;
  -moz-user-select: none; 
  -ms-user-select: none; 
  -o-user-select: none; 
  -webkit-user-select: none;
}

.z2
{
    border: 1px solid #ffcc99;
    border-bottom: 1px solid #faebd7;
}

.con{
    display: none;
}

.con2{
    display: block;
} 

.ava{
    border-radius: 40px;
    padding-left: 5px;
    padding-top: 5px;
    width: 200px;
    height: 200px;
    display: inline-block;
}

.ava2{           
    display: inline-block;
    vertical-align:top;
    padding:7px;
}

.set{
    margin-bottom: 10px;
}

.but{
  background-color: #ffcc99;
  border-radius: 6px; 
}    

.info{
    font-style: italic;
}

.b{
    font-weight: 600;
}

.btn_pushed{
  background-color:#ffb703;
  color:black;
}
.labelnoselect{
  -moz-user-select: none; 
  -ms-user-select: none; 
  -o-user-select: none; 
  -webkit-user-select: none;
}

@media (max-width:1065px)
{
    .midHead
    {
      height:100%;
      padding-bottom:0;
    }

    main,.logo
    {
      width:100%;
    }
    
    .navMenu
    {
      text-align:center;
      border-top:2px solid rgba(240, 203, 142,0.5);
      width:100%;
    }
    
    .navMen:hover
    {
      border:none;
      display:inline-block;
    }
    
    .logo
    {
      margin:0 auto;
      height:50px;
      display:block;
      text-align:center;
    }
    .video
    {
      width:18%;
    }

    .Searcher
    {
        top:110px;
        width:100%;
        left:0;
    }

    .Contact
    {
      width:20%;
    }
    .footLine
    {
      width:40%;
    }
    .byDate
    {
        width:55px;
    }

    .byViews
    {
        width:108px;
    }
}

@media (max-width:860px)
{
    .liking
    {
        display:block;
        float:none;
        margin-bottom:10px;
        text-align:center;
    }
    .dlc
    {
        display:inline-block;
    }
}

@media (max-width:570px)
{
    .Searcher
    {
      background-color:#f3d6a5;
      height:100px;
      z-index:2;
      top:310px;
    }
    .inSearch
    {
      display:block;
      width:100%;
    }
    .searchBtn
    {
      width:45%;
    }
    .video
    {
      width:80%;
      margin:0 auto;
      display:block;
    }
    .navMen
    {
        display:none;
        border-right:none;
        border-bottom:1px solid rgba(240, 203, 142,0.5);
    }
    .menuHolder
    {
        display:block;
    }
    .Contact
    {
      width:30%;
    }
    .footLine
    {
      width:35%;
    }
    
    .Content
    {
      text-align:center;
    }

    .showType
    {
      margin:0 auto;
        margin-bottom:10px;
    }

    .commArea,.Comment,.infoOne,textarea,.z1
    {
        width:100%;
    }
    .Comment
    {
        max-width:100%;
        text-align:left;
    }
    .titling,.infoOne
    {   
        text-align:left;
    }
    .z1
    {
        display: block;
        border: none;
        margin-left: 0px;
    }
    .content0
    {
        margin-left: 0px;
    }
    .z2
    {
        border: 1px solid #ffcc99;
    }
}
