{% extends "base.html" %}
{% block content %}
    <h3>{{user.name}}</h3>
    <i><h5>{{user.login}}</h5></i>
    <button class="btn-primary btn" id="set">Настройки</button>    
    <div id="settings"></div>
    {% for error in form.errors.passworold %}<span style="color: red;">[{{error}}]</span><br>{% endfor %}
    {% for error in form.errors.password %}<span style="color: red;">[{{error}}]</span><br>{% endfor %}
    <p class="cPass" id="err"><p>{{msg}}</p><span style="color: red;">{{err}}</span></p>
    <h4>Голосования, созданные пользователем</h4>    
    {%for item in items%}
    {% if item.login == user.login%}<div class=Voting><p class="voteName">{{item.vote_name}} by <i>{{item.login}}</i></p><a href="{{url_for('vote')}}?id={{item.id}}" class="vote"><i>{{item.vote_question}}</i></a></div>
    {%endif%}
    {%endfor%}
    <script>
    let setti=false;
    set.addEventListener('click',function()
    {
        if(!setti)settings.innerHTML='<div class="change"><form action="" method="post"">{{form.hidden_tag()}}<div class="form-group"><p>{{form.passwordold.label}}</p>{{form.passwordold}}</div><div class="form-group"><p>{{form.password.label}}</p>{{form.password}}</div><div class="form-group"><p>{{form.password2.label}}</p>{{form.password2}}</div><input type="submit" class="btn btn-primary" value="Готово"></form></div>'
        else settings.innerHTML=''
        if(setti)setti=false;
        else setti=true;
        err.style.display="block";
    })    
    </script>
    <style>
    .change 
    {
        background-color:rgb(220,220,220);
        width:300px;
        padding:10px;
        margin-top:10px;
    }
    .cPass
    {
        display:none;
    }
    </style>
{% endblock %}

