<!DOCTYPE html>
<!--
█─█─█──█─███
█─█─█──█─█
█─█─████─███
███─█──█───█
─█──█──█─███
-->
<html lang="en" id="html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Video Hosting Service</title>
  <link href="https://vjs.zencdn.net/7.0.3/video-js.min.css" rel="stylesheet">
  <link rel="shortcut icon" href="{{ url_for('static', filename='vhs4.png') }}" type="image/x-icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
  <link href="{{ url_for('static', filename='tagify.css') }}" rel="stylesheet">
  <script src="{{ url_for('static', filename='jquery.js') }}"></script>
</head>
<body id="Body">
  <header id="Header">
    <div class="midHead">
        <div class="logo">
        <a href="{{url_for('main')}}" class="Link"><img src="{{ url_for('static', filename='vhs4.png') }}" alt="" class="LogoImg"></a>
        <div class="LogoTxt" id="logoTxt" title="VideoHostingService">VHS</div>
        </div>
        <div class="navMenu">
        <div class="menuHolder" id="mHolder">Меню</div>
        <a href="{{url_for('main')}}" class="Link" id="Home"><div class="navMen">Главная</div></a>
        <div class="navMen" id="Search">Поиск</div>
        <div class="navMen navClast">
            Мультискрин 
            <img src="{{ url_for('static', filename='down.png') }}" class="drop-down">
            <div class="inBtn">
                <img src="{{ url_for('static', filename='updown.png') }}" class="drop-down up-down">
                <a href="{{url_for('main')}}" class="Link" id="Multi"><div class="subBtn upst">Все комнаты</div></a>
                <a href="{{url_for('main')}}" class="Link" id="Multi"><div class="subBtn">Создать комнату</div></a>
            </div>
        </div>
        {%if user %}
        <div class="navMen navEdge navClast">
            Кабинет 
            <img src="{{ url_for('static', filename='down.png') }}" class="drop-down">
            <div class="inBtn">
                <img src="{{ url_for('static', filename='updown.png') }}" class="drop-down up-down">
                <a href="{{url_for('main')}}" class="Link" id="My"><div class="subBtn upst">Мой канал</div></a>
                <a href="{{url_for('main')}}" class="Link" id="Views"><div class="subBtn">История</div></a>
                <a href="{{url_for('main')}}" class="Link" id="Load"><div class="subBtn">Загрузить</div></a>
                <a href="{{url_for('logout')}}" class="Link" id="Out"><div class="subBtn">Выйти</div></a>
            </div>
        </div>
        {%else%}
        <a href="{{url_for('log')}}" class="Link" id="Come"><div class="navMen">Войти</div></a>
        <a href="{{url_for('reg')}}" class="Link" id="Log"><div class="navMen navEdge">Регистрация</div></a>
        {%endif%}
        </div>
    </div>
    <div class="Searcher" id="searcher">
        <input type="text" class="inSearch" id="searchKey">
        <div class="searchField byDate" value=0 id="Date">Дата</div>
        <div class="searchField byViews" value=0 id="byViews">Просмотры</div>
        <input type="submit" value="Поиск" class="searchBtn" id="startSearch">
    </div>
  </header>
  <main id="Main">
    <div class="Content" id="Contentt">
      {% block content %}{% endblock %}
    </div>
  </main>
  <footer id="Footer">
    <div class="Foot">
      <div class="footLine"></div><div class="Contact"><a href="https://vk.com/shpteam" class="Link"><img src="{{ url_for('static', filename='vk.png') }}" alt="" class="contImg"></a><img src="{{ url_for('static', filename='fb.png') }}" alt="" class="contImg contEdge"></div><div class="footLine"></div>
      <p class="Creator">2018, 53rd Group</p>
    </div>
  </footer>
  <search></search>
</body>
<script src="{{ url_for('static', filename='global.js') }}"></script>
</html>
