{% extends "base.html" %}
{% block content %}
<div class="INP">
    <h2>Регистрация</h2>
    <form action="" method="post">
    {{form.hidden_tag()}}
        <div>{{ form.login_reg.label}}</div>
        <div>{{ form.login_reg }}</div>
        {% if form.login_reg.errors %}
            {% for error in form.login_reg.errors %}
            <div style="color: red;">{{ error }}</div>
            {% endfor %}
        {% endif %}
        <div>{{ form.password_reg.label}}</div>
        <div>{{ form.password_reg }}</div>
        {% if form.password_reg.errors %}
            {% for error in form.password_reg.errors %}
            <div style="color: red;">{{ error }}</div>
            {% endfor %}
        {% endif %}
        <div>{{ form.confirm_reg.label}}</div>
        <div>{{ form.confirm_reg }}</div>
        {% if form.confirm_reg.errors %}
            {% for error in form.confirm_reg.errors %}
            <div style="color: red;">{{ error }}</div>
            {% endfor %}
        {% endif %}
       {{ form.submit_reg }}
    </form>
</div>
{% endblock %}
