{% extends "base.html" %}
{% block content %}
    <div class="container a2">
        <div class="card">
            <h3 class="card-header">Создание голосования</h3>
            <form action="" method="post"">
   			 {{form.hidden_tag()}}
            <div class="card-body form-group a3">
                <div class="form-group">
                    Название голосования:
                    <br>
                    <input id="votename" name="votename" value="" type="text">
                </div>
                <div class="form-group">
                    Текст вопроса:
                    <br>
                     <p><input id="votedescription" name="votedescription" value="" type="text">
                    <br>
                </div>
                <div class="form-group">
                </div>
                <div class="form-group">
                    Варианты ответа:
                    <input type="text" class=" form-control a1 forflask" id="copp" hidden="true">
                    <div id="otvv">
                        <p><input id="Answ1" name="Answ1" value="" type="text"></p>
                        <p><input id="Answ2" name="Answ2" value="" type="text"></p>
                        <p><input id="Answ3" name="Answ3" value="" type="text" hidden="true"></p>
                        <p><input id="Answ4" name="Answ4" value="" type="text" hidden="true"></p>
                        <p><input id="Answ5" name="Answ5" value="" type="text" hidden="true"></p>
                        <p><input id="Answ6" name="Answ6" value="" type="text" hidden="true"></p>
                        <p><input id="Answ7" name="Answ7" value="" type="text" hidden="true"></p>
                        <p><input id="Answ8" name="Answ8" value="" type="text" hidden="true"></p>
                        <p><input id="Answ9" name="Answ9" value="" type="text" hidden="true"></p>
                        <p><input id="Answ10" name="Answ10" value="" type="text" hidden="true"></p>
                        <p><input id="Answ11" name="Answ11" value="" type="text" hidden="true"></p>
                        <p><input id="Answ12" name="Answ12" value="" type="text" hidden="true"></p>
                        <p><input id="Answ13" name="Answ13" value="" type="text" hidden="true"></p>
                        <p><input id="Answ14" name="Answ14" value="" type="text" hidden="true"></p>
                        <p><input id="Answ15" name="Answ15" value="" type="text" hidden="true"></p>
                        <p><input id="Answ16" name="Answ16" value="" type="text" hidden="true"></p>
                        <p><input id="Answ17" name="Answ17" value="" type="text" hidden="true"></p>
                        <p><input id="Answ18" name="Answ18" value="" type="text" hidden="true"></p>
                        <p><input id="Answ19" name="Answ19" value="" type="text" hidden="true"></p>
                        <p><input id="Answ20" name="Answ20" value="" type="text" hidden="true">
                        <!--<input type="text" class="form-control a1 forflask">-->
                        <!--<input type="text" class="form-control a1 forflask">-->
                    </div>
                </div>
                <div id="a66" hidden="true" class="osob">
                    Лимит вариантов ответа достигнут.
                </div></p>
                <input type="button" id="ad" class="btn btn-secondary a1" value="Добавить ещё один варинат ответа">
                <br>
                <input type="button" id="ad2" class="btn btn-secondary a1" value="Удалить последний вариант ответа">
                <br>
                <input type="submit" class="btn btn-primary a1" value="Создать голосование">
            </div>
        </div>
    </div>
    <script>
        let a=0;
        let b="Answ";
        let c=3;
        let otv = document.getElementById('otvv');
        ad.addEventListener('click', function(){
            if (c<=20){
                let cop = document.getElementById(b+c);
                cop.hidden = false;
                c++;
                a66.hidden = true;
            };
            if (c>20){
                a66.hidden = false;
            }
		});
        ad2.addEventListener('click', function(){
            if (c>3){
            c--;
            let cop = document.getElementById(b+c);
            cop.hidden = true;  
            cop.value = "";
            a66.hidden = true;
            };
		});
    </script>
 <style>
        .osob{
            color: red;
        }
        .a1{
            margin-bottom: 5px;
        }
        .a2{
            padding-top: 2vh;
        }
        .a3{
            padding-bottom: 0;
        }
        .a4{
            width: 200px;
        }
        .t{
            resize: none;
        }
        .forflask{
            
        }
    </style>
{% endblock %}
